numpy==1.24.3
scipy==1.10.1
pandas==2.0.2
scikit-video==1.1.11
datajoint==0.12.9
matplotlib==3.7.1
nglui==2.14.2
caveclient==5.7.0
em_coregistration@git+https://github.com/AllenInstitute/em_coregistration@phase3#egg=em_coregistration
neuralpredictors@git+https://github.com/sinzlab/neuralpredictors@main
torch==2.1.0 
torchvision==0.16.0
nnfabrik==0.2.1
GitPython==3.1.31
wandb==0.15.4
scikit-learn==1.5.0
scikit-image==0.24.0
standard-transform==1.4.0
ipykernel==6.29.4
seaborn==0.13.2
fnn@git+https://github.com/cajal/fnn.git@main
huggingface-hub==0.36.0
hf_xet==1.1.10
SciencePlots==2.2.0